<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #d4d4e3;
        margin: 0;
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: #0e0e0e;
    }

    form {
        background-color: #cfb5b5;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin: 20px auto;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #0a0a0a;
    }

    input[type="text"],
    input[type="date"],
    textarea,
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-right: 10px;
    }

    button {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        background-color: #f28675;
        color: rgb(250, 242, 242);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #de8a84;
    }
</style>